html{
  margin-top: -20px;
}
#welcome{
	width: 100%;
	height: 100%;
	background-image: url("images/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: none;
}

#transparent{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}


.navbar{
	padding: 0px 40px;
  	border: none;
  	top: -6%;
	background: rgba(0,0,0,0.7);
}

.navbar .nav>li>a:hover,
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus,
.navbar .brand:hover,
.navbar .nav .active>a,
.navbar .nav .active>a:hover{
  background-color: rgba(80,80,80,0.5);
  color: #2ABF9E;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.3) inset;
}
