h1, h2, h3, h4, h5, h6, p{
  margin: 0px;
  padding: 0px;
}

#welcome{
	width: 100%;
	height: 100%;
	background-image: url("images/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: none;
}

#transparent{
	width: 100%;
	height: 100%;
	color: #ddd;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid transparent;
    position: relative;
}
#transparent .my-title{
	padding: 20px;
    margin: 20% auto;
    width: 300px;
    text-align: center;
    background-color: rgba(0,0,0,0.51);
    border-radius: 40px;
}

#transparent h4{
	margin: 20px 0px;
}
#transparent .down{
	font-size: 40px;
    color: #999;
    position: absolute;
    bottom: 150px;
    left: 49%;
    cursor: pointer;
    animation-name: down;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
	-webkit-animation-name: down;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: down;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease;
	-ms-animation-name: down;
    -ms-animation-duration: 1.5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease;
}
#transparent .down span:nth-child(2){
	top: 25px;
    left: -51px;
}
#transparent .down:hover{
	color: #eee;
}

@-webkit-keyframes down{
	0%,100%{
		-webkit-transform: translateY(0px);
	}
	20%,80%{
		-webkit-transform: translateY(-4px);
	}
	40%,60%{
		-webkit-transform: translateY(-8px);
	}
	50%{
		-webkit-transform: translateY(-10px);
	}
}

@-moz-keyframes down{
	0%,100%{
		-moz-transform: translateY(0px);
	}
	20%,80%{
		-moz-transform: translateY(-4px);
	}
	40%,60%{
		-moz-transform: translateY(-8px);
	}
	50%{
		-moz-transform: translateY(-10px);
	}
}

@-ms-keyframes down{
	0%,100%{
		-ms-transform: translateY(0px);
	}
	20%,80%{
		-ms-transform: translateY(-4px);
	}
	40%,60%{
		-ms-transform: translateY(-8px);
	}
	50%{
		-ms-transform: translateY(-10px);
	}
}


.navbar{
	padding: 0px 40px;
  	border: none;
  	top: -50px;
	background: rgba(0,0,0,0.7);
}

.navbar .nav>li>a:hover,
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus,
.navbar .brand:hover,
.navbar .nav .active>a,
.navbar .nav .active>a:hover{
  background-color: rgba(80,80,80,0.5);
  color: #2ABF9E;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.3) inset;
}

