<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=utf-8"/>
		<title>loving day audio</title>
		<link rel="stylesheet" href="{{ ASSET_PATH }}/lover/css/style.css"/>
		<link rel="stylesheet" href="{{ ASSET_PATH }}/lover/css/a_back.css"/>
		<link rel="stylesheet" href="{{ ASSET_PATH }}/lover/css/b_back.css"/>
		<link rel="stylesheet" href="{{ ASSET_PATH }}/lover/css/c_back.css"/>
		<style type="text/css">
			.main-content{
				width: 800px;
				height: 500px;
			}
		</style>
	</head>

	<body>
		<div class="main-content">
			{{ content }}	
		</div>
		<script type="text/javascript" src="{{ ASSET_PATH }}/lover/js/jquery.js"></script>
		<script type="text/javascript" src="{{ ASSET_PATH }}/lover/js/jquery.min.js"></script>
		<script type="text/javascript" src="{{ ASSET_PATH }}/lover/js/jquery.transit.js"></script>
		<script type="text/javascript" src="{{ ASSET_PATH }}/lover/js/style.js"></script>
		<script type="text/javascript" src="{{ ASSET_PATH }}/lover/js/boyMove.js"></script>
		<script type="text/javascript" src="{{ ASSET_PATH }}/lover/js/shop.js"></script>
	</body>

</html>